<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header class="header"><%- include("./partials/header.ejs")%></header>
    <main>
      <h1>Carrito de compras</h1>
      <div class="carrito">
          <%- include("./partials/item.ejs") %>
      </div>
      <div class="carrito_total">
        <h1>Total: $<%= products.map(item => item.quantity*item.price*(1-item.discount/100)).reduce((p,c) => p+c,0) %> </h1>

        <div class="purchase">
          <form action="/carrito/process" method="post">
            <button class='button-send' type="submit">Continuar con la compra</button>
        </form>
  
        <form action="/carrito/clear" method="post">
          <button class='button-send' type="submit">Vaciar carrito</button>
      </form>

        </div>



      </div>
    </main>
    <footer><%- include("./partials/footer.ejs")%></footer>
  </body>
</html>