<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header class="header"><%- include("./partials/header.ejs")%></header>
    <main>
      <h2 class="title-form">Editando: <i><%=product.brand%><%=product.model%></i></h2>   
      
      <% if (locals.errors) { errors.forEach(error => { %>
        <p class="feedback is-danger"><%= error.msg%></p>
      <% })}%>
      <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="register_container">   
          <div class="name-product">
            <h4 class="item-title">Indica categoria</h4>
                  <select class="input" name="category" id="category">
                    <% category.forEach(category => { %>
                      <option name="category" value="<%= category.id %>"
                        <%=product.product_category.id==category.id? "selected" : "" %>><%= category.cat %>
                      </option>
                      <% } )%>

                  </select>
          </div>     
          <div class="name-product">
            <h4 class="item-title">Indica marca </h4>
            <input
              class="input"
              type="text"
              name="brand"
              id="brand"
              placeholder="Ej: Ford Fiesta"
              value="<%= locals.old && old.brand? old.brand : product.brand %>"
            />
          </div>
          <div class="name-product">
            <h4 class="item-title">Indica modelo</h4>
            <input
              class="input"
              type="text"
              name="model"
              id="model"
              placeholder="Ej: Fiesta"
              value="<%= locals.old && old.brand? old.brand : product.model %>"
            />
          </div>
          <div class="version-product">
            <h4 class="item-title"> Año de fabricacion </h4>
            <input
              class="input"
              type="text"
              name="manufacture_year"
              id="manufacture_year"
              placeholder="Ej: 2000"
              value="<%= locals.old && old.brand? old.brand : product.manufacture_year %>"
            />
          </div>

          <div class="color-product">
            <h4 class="item-title">Color</h4>
            <input class="input" type="text" name="color" id="color" placeholder="Ej: Rojo" value="<%= locals.old && old.brand? old.brand : product.color %>"/>
          </div>
          <div class="number-doors" >
            <h4 class="item-title">Numero de puertas</h4>
            <input class="input" type="number" name="door_number" id="door_number" placeholder="Ej: 5" value="<%= locals.old && old.brand? old.brand : product.door_number %>"/>
          </div>
          <div class="trasmition">
            <h4 class="item-title">Transmisión</h4>
            <input class="input" type="text" name="transmission" id="transmission" placeholder="Ej: Manual" value="<%= locals.old && old.brand? old.brand : product.transmission %>"/></div>
            <div class="fuel-type">
              <h4 class="item-title">Tipo de motor</h4>
              <input class="input" type="text" name="motor_type" id="motor_type" placeholder="Ej: Nafta" value="<%= locals.old && old.brand? old.brand : product.motor_type %>"/>
            </div>
          <div>
            <h4 class="item-title">Carga una imagen</h4>
            <input
            type="file"
            name="image"
            id="image"
            class="input"
            value="<%= locals.old && old.image? old.image : product.image %>"
            />
          </div>

          <div class="description">
            <h4 class="item-title">Descripción</h4>
            <input class="input" type="text" name="description" id="description" value="<%= locals.old && old.brand? old.brand : product.description %>" placeholder="Ej: no se" />
          </div>

          <div class="price-product">
            <h4 class="item-title">Precio</h4>
            <input class="input" type="number" name="price" id="price" value="<%= locals.old && old.brand? old.brand : product.price %>" />
          </div>
          <div class="discount-product">
            <h4 class="item-title">Descuento (%)</h4>
            <input class="input" type="number" name="discount" id="discount" value="<%= locals.old && old.brand? old.brand : product.discount %>"/>
          </div>
          <div class="buttons">
            <button class="button-send" type="submit">Actualizar</button>
          </div>
      </form>
    </main>
    <footer><%- include("./partials/footer.ejs")%></footer>
  </body>
</html>