<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header class="header"><%- include("./partials/header.ejs")%></header>
    <main>
      <h2>Crea tu cuenta</h2>

      <% if (locals.errors) { errors.forEach(error => { %>
      <p class="feedback is-danger"><%= error.msg%></p>
      <% })}%>

      <div class="register_container">
        <form
          action="/users/register"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="register_nombre">
            <h4>Nombre</h4>
            <input
              class="input"
              type="text"
              name="first_name"
              id="first_name"
              placeholder=""
              value="<%= locals.old && old.first_name ? old.first_name : '' %>"
            />
          </div>

          <div class="register_apellido">
            <h4>Apellido</h4>
            <input
              class="input"
              type="text"
              name="last_name"
              id="last_name"
              placeholder=""
              value="<%= locals.old && old.last_name ? old.last_name : '' %>"
            />
          </div>

          <div class="register_usuario">
            <h4>Usuario</h4>
            <input
              class="input"
              type="text"
              name="username"
              id="username"
              placeholder=""
              value="<%= locals.old && old.username ? old.username : '' %>"
            />
          </div>

          <div class="register_email">
            <h4>Correo electrónico</h4>
            <input
              class="input"
              type="email"
              name="email"
              id="email"
              placeholder=""
              value="<%= locals.old && old.email ? old.email : '' %>"
            />
          </div>

          <div class="register_password">
            <h4>Contraseña</h4>
            <input
              class="input"
              type="password"
              name="password"
              id="password"
              placeholder="Como mínimo 8 caracteres"
              value="<%= locals.old && old.password ? old.password : '' %>"
            />
          </div>

          <div class="register_confirm_password">
            <h4>Confirmar contraseña</h4>
            <input
              class="input"
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder=""
              value="<%= locals.old && old.confirm_password ? old.confirm_password : '' %>"
            />
          </div>

          <div class="register_birthdate">
            <h4>Fecha de nacimiento</h4>
            <input
              class="input"
              type="date"
              name="birthdate"
              id="birthdate"
              placeholder=""
              value="<%= locals.old && old.birthdate ? old.birthdate : '' %>"
            />
          </div>

          <div class="register_profile_pic">
            <h4>Avatar</h4>
            <input
              class="input"
              type="file"
              name="profile_pic"
              id="profile_pic"
              placeholder=""
              value="<%= locals.old && old.profile_pic ? old.profile_pic : '' %>"
            />
          </div>

          <div class="buttons">
            <button class="button-send" type="submit">Crear cuenta</button>
            <button class="button-reset" type="reset">Reestablecer</button>
          </div>
        </form>
        <div class="privacidad">
          <p>
            Al crear una cuenta, aceptas las
            <a href="#">Condiciones de Uso</a> y el
            <a href="#">Aviso de Privacidad</a>.
          </p>
        </div>

        <div class="cuenta_existente">
          <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
        </div>
      </div>
    </main>
    <footer><%- include("./partials/footer.ejs")%></footer>
  </body>
</html>
