<% products.forEach(prod => { %>
    <li>
        <h2><%= prod.brand %> <%= prod.model %> <span class="price">$<%= prod.price %></span></h2>
        <form action="/cart/update" method="post" class="update">
            <input type="hidden" name="id" value="<%= prod.brand %>" />
            <input type="number" name="quantity" value="<%= prod.brand %>" id="quantity">
            <button type="submit">
                <i class="fa-solid fa-sync"></i>
            </button>
        </form>
        <form action="/cart/delete" method="post" class="delete">
            <input type="hidden" name="id" value="<%= prod.brand%>" />
            <button type="submit">
                <i class="fa-solid fa-times"></i>
            </button>
        </form>
    </li>
    <% }) %>